<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>お酒の記録</title>
  </head>
<body>
  <header>
    <div class ="title">
      <div class ="title-tag">
        <%=link_to 'alcohol record space',alcohols_path, class: "title_name" %></div>
      <div class='nav'>
    <ul class='lists-right'>
      <li><%= link_to  current_user.nickname, class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete}, class: "logout" %></li>
      <li><%= link_to  "Post", new_alcohol_path, class: "post",  id: "postButton" %></li>
   </ul>
  </div>
  </div>
    </header>
    <body>
      <div class="main">
      <div class="side_bar">
        <%= link_to 'ビール', category_path(1), class:"wapper",id:'CategoryButton'%>
        <%= link_to 'ワイン', category_path(2), class:"wapper",id:'CategoryButton'%>
        <%= link_to '日本酒', category_path(3), class:"wapper",id:'CategoryButton'%>
        <%= link_to 'ウイスキー', category_path(4), class:"wapper",id:'CategoryButton'%>
        <%= link_to '焼酎', category_path(5), class:"wapper",id:'CategoryButton'%>
        <%= link_to 'カクテル', category_path(6), class:"wapper",id:'CategoryButton'%>
        </div>
        <div class ="list">
       <% @alcohols.each do |alcohol| %>
        <div class="product">
           <%= link_to alcohol_path(alcohol),class:"contens_name" do %>
        <div class='item-img-content'>
          <%= image_tag alcohol.image.variant(resize: '300x250'), class: "message-image" if alcohol.image.attached? %></div>
          <div class='item-name'>
            <%= alcohol.alcohol_name %>
             </div>
            <% end %>
            </div>
            <%end%>
       </div>
      </body>
