
<%= form_with(model: @alcohol, local: true) do |f| %>
  <div>画像の投稿</div>
    <%= f.file_field :hoge, id:"item-image" %>
    <div>
  <%= f.label :category_id, 'お酒の種類'%>
  <% @categories.each do |category| %>
  <%= f.radio_button :category_id, category.id %>
    <%= f.label "alcohol_category_#{category.id}", category.category %>
  <% end %>
   </div>
   <div>銘柄</div>
   <%= f.text_area :hoge, class:"alcohols-text", id:"alcohols-name", placeholder:"銘柄名（必須 40文字まで)", maxlength:"40" %>
   <div>特徴</div>
   <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
  <%= f.submit "登録" ,class:"sell-btn" %>
<% end %>